#pricing {
  height: 100vh;
}
#pricing .wrapper {
  width: clamp(300px,100%, 1100px);
  margin: 4rem auto;
}
#pricing #container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  padding: 3rem 0;
}
.price-card {
  margin: 1rem;
  padding: 2rem 1rem;
  border: 1px solid #f3f3f3;
}
.price-card p {
  line-height: 1.8;
  color: grey;
}
.price-card a{
  text-decoration: none;
  background-color: #fff;
  color: #015be9;
  border: 2px solid #015be9;
  padding: 14px 25px;
  border-radius: 5px;
  margin: 1rem 0.7rem !important;
  text-transform: uppercase;
}
.price-card a:hover {
  background-color: #015be9;
  color: #fff;
  box-shadow: 0 3px 20px -8px #000;
}
.price-card .text {
  padding: 2rem 0 2rem 0.7rem;
}
#pricing .price-card:hover {
  border-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  -webkit-transform: scale(1.01);
  transform: scale(1.03);
  transition: all .5s;
}

.price-card:nth-child(2) {
  border-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  -webkit-transform: scale(1.01);
  transform: scale(1.05);
  transition: all .5s;
}
.price-card:nth-child(2) a{
  background-color: #015be9;
  color: #fff;
  box-shadow: 0 3px 20px -8px #000;
}